    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a href="/admin-panel" class="simple-text logo-normal">
          Админ панель
        </a>
      </div>
      {% if user.is_authenticated %}
      <div class="sidebar-wrapper">
        <ul class="nav">
{#          <li class="nav-item {% if 'index' == segment %} active {% endif %}">#}
{#            <a class="nav-link" href="/admin-panel">#}
{#              <i class="material-icons">dashboard</i>#}
{#              <p>Приборная панель</p>#}
{#            </a>#}
{#          </li>#}
          <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'profile' %}">
              <i class="material-icons">person</i>
              <p>Профиль</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'admin-car' %}">
              <i class="material-icons">content_paste</i>
              <p>Машины</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-typography' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'requests' %}">
              <i class="material-icons">library_books</i>
              <p>Заказы</p>
            </a>
          </li>
         <li class="nav-item {% if 'ui-icons' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'contactforms' %}">
              <i class="material-icons">bubble_chart</i>
              <p>Обратная связь</p>
            </a>
          </li>
{#          <li class="nav-item {% if 'ui-icons' in segment %} active {% endif %}">#}
{#            <a class="nav-link" href="{% url 'contactforms' %}">#}
{#              <i class="material-icons">bubble_chart</i>#}
{#              <p>Обратная связь</p>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item {% if 'ui-maps' in segment %} active {% endif %}">#}
{#            <a class="nav-link" href="/admin-panel/ui-maps.html">#}
{#              <i class="material-icons">location_ons</i>#}
{#              <p>Maps</p>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item {% if 'ui-notifications' in segment %} active {% endif %}">#}
{#            <a class="nav-link" href="#">#}
{#              <i class="material-icons">notifications</i>#}
{#              <p>Уведомления</p>#}
{#            </a>#}
{#          </li>#}

          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Выйти</p>
            </a>
          </li>
        </ul>
      </div>
      {% endif %}

    </div>
